[package]
name = "dusk-plonk"
version = "0.2.1"
authors = ["Kevaundray Wedderburn <kevtheappdev@gmail.com>",
           "Luke Pearson <luke@dusk.network>", 
           "CPerezz <carlos@dusk.network>"] 
readme = "README.md"
documentation = "https://dusk-network.github.io/plonk"
repository = "https://github.com/dusk-network/plonk"
keywords = ["cryptography", "plonk", "zk-snarks", "zero-knowledge", "crypto"]
categories =["algorithms", "cryptography", "development tools"]
description = "A pure-Rust implementation of the PLONK ZK-Proof algorithm"
exclude = [
    "**/.gitignore",
    ".gitignore",
    "Cargo.lock",
    "**/examples",
    "benchmarks/",
    ".travis.yml"
]
license = "MPL-2.0"
edition = "2018"

[dependencies]
merlin = "2.0.0"
rand = "0.7.2"
rand_core = { version = "0.5", default-features = false }
# Built by default with "std", "alloc", "pairing", "groups" and "endo" features.
dusk-bls12_381 = "0.1.2"
itertools = "0.8.2"
rand_chacha = "0.2"
rayon = "1.3.0"
failure = "0.1.7"
dusk-jubjub = "0.3.2"

[dev-dependencies]
rand = "0.7.0"

[package.metadata.docs.rs]
rustdoc-args = [ "--html-in-header", "katex-header.html" ]

[features]
nightly = []
trace = []
trace-print = ["trace"]