[package]
name = "plonk"
version = "0.1.0"
authors = ["Kevaundray Wedderburn <kevtheappdev@gmail.com>",
           "Luke Pearson <luke@dusk.network>", 
           "CPerezz <carlos@dusk.network>"] 
readme = "README.md"
documentation = "https://dusk-network.github.io/plonk/plonk/"
repository = "https://github.com/dusk-network/plonk"
keywords = ["cryptography", "plonk", "zk-snarks", "zero-knowledge", "crypto"]
categories =["Algorithms", "Cryptography", "Development tools"]
description = "A pure-Rust implementation of the PLONK ZK-Proof algorithm"
exclude = [
    "**/.gitignore",
    ".gitignore",
    "Cargo.lock",
    "**/examples",
    "benchmarks/",
    "CHANGELOG.md",
    "CONTRIBUTING.md",
    ".travis.yml"
]
license = "MPL-2.0"
edition = "2018"


[dependencies]
merlin = "2.0.0"
rand = "0.7.2"
rand_core = { version = "0.5", default-features = false }
# Built by default with "std", "alloc", "pairing", "groups" and "endo" features.
dusk-bls12_381 = "0.1.0"
itertools = "0.8.2"
rand_chacha = "0.2"
rayon = "1.3.0"
failure = { version = "0.1", default-features = false, features = ["derive"] }
serde = {version = "1.0.106", features = ["derive"], optional = true} 

[dev-dependencies]
criterion = "0.3.0"
rand = "0.7.0"
bincode = "1.2.1"
lazy_static = "1.4.0"

# Criterion benchmarks
[[bench]]
path = "./benchmarks/plonk_benchmarks.rs"
name = "plonk_benchmarks"
harness = false

[package.metadata.docs.rs]
rustdoc-args = [
    "--html-in-header",
    ".cargo/registry/src/github.com-1ecc6299db9ec823/katex-doc-0.1.0/katex.html",
]

[features]
nightly = []
default = ["serde"]
trace = []
trace-print = ["trace"]