on: [pull_request]
name: Continuous integration

jobs:
  analyze:
    name: Dusk Analyzer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: --git https://github.com/dusk-network/cargo-dusk-analyzer
      - uses: actions-rs/cargo@v1
        with:
          command: dusk-analyzer

  test_nightly:
    name: Nightly tests std # This is already testing the `alloc` feature.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release 

  test_nightly_canon:
    name: Nightly tests canon
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release --features canon

  build_nightly_nostd:
      name: Nightly build no_std
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions-rs/toolchain@v1
          with:
            profile: minimal  
        # ARM contains no std lib. Just core and alloc.
        - run: rustup target add thumbv6m-none-eabi
        - uses: actions-rs/cargo@v1
          with:
            command: build
            args: --release --no-default-features --features alloc --target thumbv6m-none-eabi
        - uses: actions-rs/cargo@v1
          with:
            command: build
            args: --release --no-default-features --target thumbv6m-none-eabi

  test_nightly_docs:
    name: Nightly doc tests
    runs-on: ubuntu-latest
    steps:
      run: make doc

  fmt:
      name: Rustfmt
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions-rs/toolchain@v1
          with:
            profile: minimal
            toolchain: nightly-2020-10-25
            override: true
        - run: rustup component add rustfmt
        - uses: actions-rs/cargo@v1
          with:
            command: fmt
            args: --all -- --check